body {
    color: white;
    background-color: rgba(210, 210, 210, 0.547);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    .logo {
        gap: 10px;
        display: flex;
        align-items: center;
        h3 {
            color: red;
            margin: 0;
            font-size: 55px;
        }
        .about {
            color: rgb(0, 0, 0);
            font-weight: bold;
            display: flex;
            gap: 10px;
            padding-top: 20px;
            p {
                margin: 0;
                font-size: 1rem;
            }
        }
    }

    .darkmode p {
        margin: 0;
        font-size: 1rem;
        cursor: pointer;
    }
}
