.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px; /* padding değerini düzelttim */
}

.window {
    background-image: url("../assets/backgroundimage.jpg");
    border: 1px solid #ccc;
    width: 70rem;
    height: 35rem;

    .chatlist {
        background-color: rgb(51, 51, 51);
        position: absolute;
        width: 15%;
        height: 30.6rem;
        border-right: 1px solid #ccc;
       

        ul {
            color: white;
            list-style: none;
            padding: 0;
            margin: 0;
            height: 100px;

            li {
                text-align: center;
                justify-content: center;
                height: 50px;
                cursor: pointer;
                width: 100%;
                &:hover {
                    color: #e9cfcf;
                }
                &:hover {
                    background-color: #000000;
                }
            }
        }
    }

    .userprofile {
        background-color: rgb(140, 140, 140);
        flex: 1;
        text-align: center;
        padding: 10px;
        justify-content: center;
        height: 50px;

        img {
            padding-top: 15px;
        }
    }

    .chatinput {
        display: flex;
        justify-content: flex-end;
        padding-top: 440px;
 
        input {
            margin-right: 10px;
            justify-content: flex-end;
            width: 45%;
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    }
}
