.profileInfo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    & p {
        margin-right: 5px;
    }

 
}

@media (max-height: 733px) {
    .profileInfo {
        margin-left: 80%;
    }
}
